#lakierLista{
  width: fit-content;
}

.wyborKolor{
  background-color: white;
  border: none;
  padding: 2px;
  
}

.wyborKolor:hover{
  border: 2px solid black;
}

#koszykP{
 text-align: center;
 margin: 0;
 color: #dddddd;
 font-size: 15px;
}