.lakierCell{
    width: fit-content;
    text-align: center;
    border-radius: 5%;
}

.lakierCell:hover{
    border: 2px solid black;
}

.lakierCell img{
    border-radius: 5% 0 0 5%;
}

.lakierCellRight{
    float: right;
    width: 300px;
}

.lakierCellRight h2{
    margin: 5px 10px 10px 0;
}

.LCCena{
    font-weight: bold;
}

.LCReklama{
    background-color: #e47171;
}

.lakierCellRight button{
    border-radius: 10%;
}
